# -----------------------
# Virtual environment folders
# -----------------------
.venv/
env/
.env

# -----------------------
# IDE / editor settings
# -----------------------
.idea/
*.iml
*.iws

# -----------------------
# Build artifacts
# -----------------------
/ft8decoder.egg-info
__pycache__/
ft8decoder/__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/

# -----------------------
# Database / generated data
# -----------------------
db_init/
*.db
ft8_misc.json
ft8_comms.json

# -----------------------
# Local scripts & test data (not for distribution)
# -----------------------
classes.py
main.py
/tests/data.txt
/tests/tests.py
